<h1>Based on "generated scaffold"</h1>
<hr/>


<%= react_component("HelloWorld", props: {name: 'stranger1'}, prerender: false) %>

<%= react_component("ShowTime", props: {}, prerender: false) %>

<%= render partial: 'show_date/show_date_with_javascript_pack_tag' %>

<hr/>

<p style="color: green"><%= notice %></p>

<h2>Listing Comments</h2>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </tbody>
</table>

<%= link_to "New comment", new_comment_path %>
